* {
  box-sizing: border-box;
  /* border: 1px dotted darkred; */
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
  color: #424242;
}

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.button_link {
  text-decoration: none;
}

.unstyled_link {
  text-decoration: none;
  color: #424242;
}

.unstyled_link :visited{
  text-decoration: none;
  color: #424242;
}

.modal_button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  background-color: #23bbbe;
  border: 1px solid #86AEB1;
  margin: .5rem .5rem;
  height: 40px;
}

.modal_button--delete {
  background-color: red;
}
