* {
  box-sizing: border-box;
  /* border: 1px dotted darkred; */
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
}

body {
  padding: 0;
  font-family: 'Open Sans','Helvetica Neue', sans-serif;
  color: #424242;
}

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-width: 900px;
}

.button_link {
  text-decoration: none;
}
